<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book shopping</title>
</head>
<body style="background-image: url('https://avatars.mds.yandex.net/i?id=a46f7fef79064f22389fd55cc3823e4d524e1e77b76a3068-9245043-images-thumbs&n=13'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100vh; margin: 0;">

    <h1>
        Books page
    </h1>


    {% for book in all_books %}
            <h3>{{book.id}}: {{book}}</h3>
    {% endfor %}
    <button style="background-color: white;">
        <a href="http://127.0.0.1:8000/" style="color: red;">Back</a>
    </button>
</body>
</html>